.head {
    background-color: rgba(0, 20, 87, 0.959);
    padding: 1px 1px;
    color: white;
}
.Unique__method--header {
    text-align: center;
    background-color: rgba(76, 76, 99, 0.925);
    color: white;
    padding: 50px;
}
.unique__method--main--heading {
    text-align: center;
}
.unique__method--button1 {
    background-color: rgb(76, 64, 247);
    color: white;
    padding: 5px 10px;
}
.unique__method--button2 {
    background-color: rgb(67, 112, 0);
    color: white;
    padding: 5px 10px;
}
.edu-center {
    text-align: center;
    background-color: rgb(168, 150, 150);
    padding: 1px;
}
.feature-list {
    text-align: center;
}
.feature_list-heading {
    display: grid;
    grid-gap: 20px;
}

.simble {
    width: 60px;
}
.icon {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}
.quality-education {
    grid-column: 1/2;
}
.flexbox1 {
    grid-column: 1/2;
}
.systematic-approach {
    grid-column: 2/3;
    grid-row: 1/2;
}
.flexbox2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.one-to-one--study {
    grid-column: 3/4;
    grid-row: 1/2;
}
.flexbox3 {
    grid-column: 3/4;
    grid-row: 2/3;
}
